/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==============================================
          Custom Styles
==============================================*/
body{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em;
}

*,*::before,*::after{
    box-sizing: border-box;
}
.clearfix::before,.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}



/*==========================================

             Header Part

===========================================*/
header{
    background-color: rgb(115, 19, 206);
  overflow: auto;
  position:sticky;
  width: 100%;
  top:0;
  left:0;
  z-index: 1;


    
}
header h1{
 font-size: 40px;
 font-weight: 800;
 color:blanchedalmond;
 padding: 20px;
 float: left;
 margin-top: 10px;
 
 
}
header nav{
    float: right;
}


header li{
    
    padding: 10px;
    display: inline-block;
    padding: 20px;
    margin-top: 10px;

}
header a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
header a:hover{
    color: skyblue;
}



/*=============================================
 
           Main Part

============================================*/
.container{
    
    border: 5px solid lightgrey;
}

.box-1{
    max-width: 100%;
    position: relative;
    left: 100px;
    z-index:0;
    
}
.box-1 img{
    width: 300px;
}
.box-1 h2{
    font-size: 40px;
    color: black;
    padding: 10px;
    text-align: center;
}
.col{
    float: left;
    padding: 30px;
 
   
    

}
.col-1{
    width: 45%;
    border: 2px solid lightblue;
    height: 300px;
    margin: 2%;
    background-color:rgb(77, 94, 243);
  

}
.col-2{
    width: 45%;
    
}
img{
    width: 200px;
}
.row-1{
 
    float: left;
    width: 100%;
    padding: 20px;
    
       
}
.col-3,.col-4,.col-5,.col-6,.col-7,.col-8{
    width: 30%;
    margin: 10px;
}


.row-2{
  width: 100%;
    float: left;
    padding: 20px;
}

/*============================
 Footer Part
========================*/
footer{
    font-size: 25px;
    text-align: center;
    background-color: rgb(115, 19, 206);
    padding: 20px;
    color: white;

}

.button a{
    font-size: 30px;
    background-color:black;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-decoration: none;
    position: fixed;
    right: 0;
    bottom: 0;

}

